:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --header-color: #ececec;
  --accent-color: #2196f3;
  --background-footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --logo-text-color: #000000;
  --main-font: Roboto, sans serif;
  --backround-color: #ffffff;
  --logo-color: #2f303a;
  --img-portfolio-text: #eeeeee;
  --socials-icon-color: #afb1b8;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/*---- header------- */

.header-container {
  display: flex;
  align-items: center;
}

.header-page {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
  margin-left: 93px;
}

.header-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo:hover,
.header-logo:focus {
  color: #188ce8;
}

.first-part {
  color: #2196f3;
}
.last-part {
  color: #000000;
}

.current a {
  color: var(--accent-color);
}

.header-nav-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header-link-mail {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}
.icon-mail {
  fill: currentColor;
  margin-right: 10px;
}
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}

.header-link-mail:hover .icon-mail,
.header-link-mail:focus .icon-mail {
  color: var(--accent-color--);
}

.header-item {
  position: relative;
}

.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/*------ main------- */

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-first-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--backround-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px 10px 32px;
  display: block;
  margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* --benefits-- */
/* .our-team {
  display: flex;
  text-align: center;
  justify-content: center;
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefit-icon {
  justify-content: center;
  text-align: center;
  gap: 30px;
  display: flex;
}

.icon-name {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .hero-item:not(:last-child) {
  margin-right: 30px;
} */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.benefits-pre-title {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* --galery-- */

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.gallery-list {
  display: flex;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.overlay-text {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  color: var(--backround-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.overlay-box {
  display: flex;
  position: relative;
  text-align: center;
  align-items: flex-end;
  opacity: 1;
}

/* --team-- */

.socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item:not(:last-child) {
  gap: 30px;
}
.img-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-team {
  background-color: #f5f4fa;
}

.about-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--backround-color);
}
.about-item {
  gap: 30px;
}

.about-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
}
.about-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
  margin-bottom: 10px;
  text-align: center;
}
.about-pre-title {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  color: var(--socials-icon-color);

  border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.socials-icon {
  fill: currentColor;
}

/*---постійні клієнти--- */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--socials-icon-color);
  border: 1px solid currentColor;
  border-radius: 4px;
}

.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}

/* -----footer------- */
.footer-container {
  display: flex;
  align-items: baseline;
}
.socials-list-list {
  display: flex;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.container-icon {
  margin-left: 70px;
}

.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.first-part {
  color: #2196f3;
}
.second-part {
  color: #ffffff;
}
.footer-link-map {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-link .footer-tel {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.text-footer {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text-footer {
  color: var(--backround-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.socials-link {
  color: var(--backround-color);
}
.socials-icon {
  fill: currentColor;
}

/* --portfolio-- */

.current a {
  color: #2196f3;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.first-part {
  color: #2196f3;
}
.last-part {
  color: #212121;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* --main-- */

.filtres-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
.progect-nav {
  display: block;
}

.progect-nav:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-main {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.btn-main:hover,
.btn-main:focus {
  background: #188ce8;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.img-portfolio-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.hero-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--logo-text-color);
  margin-bottom: 4px;
}

.hero-pre-title {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* --footer--*/

footer {
  background-color: var(--background-footer-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.first-part {
  color: #2196f3;
}
.second-part {
  color: #ffffff;
}

.footer-link-map {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link,
.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

/* modal */
.beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  backdrop-filter: blur(2px);
}
.backdrop.is-hidden {
  position: absolute;
  width: 528;
  height: 581;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
